<div ng-controller="rssCtrl" class="module rss">

  <div class='iframeLoading'>
    <img ng-hide="error" ng-src="{{loader}}" alt="" />
    <p   ng-hide="error"> {{'loading' | translate}} {{max - active + 1}} {{'of' | translate}} {{max + 1}}</p>
    <p   ng-show="error"> {{ 'error.1' | translate }}</p>
    <p   ng-show="error"> {{ 'error.2' | translate }}</p>
  </div>

  <div class="ready">
    <koa-item ng-if="rss.message">{{rss.message}}</koa-item>

    <a href="{{item.link}}" ng-repeat="item in itemsY">
      <koa-card heading="{{item.title}}" image="{{item.image}}">
        <div class="card-content" ng-bind-html="item.desc"></div>
      </koa-card>
    </a>
  </div>

</div>
